<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Publicación</title>
</head>
<body>
    <h1>Eliminar Publicación</h1>
    <p>¿Estás seguro de que quieres eliminar esta publicación?</p>
    <form action="{% url 'delete_post' pk=post.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">Confirmar Eliminación</button>
    </form>
    <a href="{% url 'post_list' %}">Cancelar</a>
</body>
</html>
